n8n/workflow_pokeapi_pipeline.json
{
  "name": "TP Data Lake - PokeAPI to MinIO Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pokemon_id, pokemon_name FROM pokemon LIMIT 10;",
        "options": {}
      },
      "id": "get-pokemon-node",
      "name": "Get Pokemon from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [400, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://pokeapi.co/api/v2/pokemon/{{ $json.pokemon_id }}",
        "options": {}
      },
      "id": "fetch-json-node",
      "name": "Fetch Pokemon JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const pokemonId = data.id;\n  const pokemonName = data.name;\n  const jsonContent = JSON.stringify(data);\n  \n  results.push({\n    json: {\n      pokemon_id: pokemonId,\n      pokemon_name: pokemonName,\n      file_name: `${pokemonName}.json`,\n      file_content: jsonContent,\n      file_size: jsonContent.length,\n      bucket_name: 'raw-pokemon',\n      object_key: `raw-pokemon/${pokemonName}.json`,\n      file_type: 'json',\n      mime_type: 'application/json'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "prepare-files-node",
      "name": "Prepare Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $json.bucket_name }}",
        "fileName": "={{ $json.file_name }}",
        "fileContent": "={{ $json.file_content }}"
      },
      "id": "upload-minio-node",
      "name": "Upload to MinIO",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [1000, 300],
      "credentials": {
        "s3": {
          "id": "2",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pokemon_files (pokemon_id, bucket_name, object_key, file_name, file_type, file_size_bytes, mime_type, internal_url, created_at)\nVALUES ({{ $('Prepare Files').item.json.pokemon_id }}, '{{ $('Prepare Files').item.json.bucket_name }}', '{{ $('Prepare Files').item.json.object_key }}', '{{ $('Prepare Files').item.json.file_name }}', '{{ $('Prepare Files').item.json.file_type }}', {{ $('Prepare Files').item.json.file_size }}, '{{ $('Prepare Files').item.json.mime_type }}', 'http://minio:9000/{{ $('Prepare Files').item.json.object_key }}', NOW());",
        "options": {}
      },
      "id": "insert-files-node",
      "name": "Insert pokemon_files",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO file_ingestion_log (file_name, bucket_name, object_key, processed_at, source, status)\nVALUES ('{{ $('Prepare Files').first().json.file_name }}', '{{ $('Prepare Files').first().json.bucket_name }}', '{{ $('Prepare Files').first().json.object_key }}', NOW(), 'pokeapi', 'success');",
        "options": {}
      },
      "id": "log-ingestion-node",
      "name": "Log Ingestion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1400, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Get Pokemon from DB", "type": "main", "index": 0 }]]
    },
    "Get Pokemon from DB": {
      "main": [[{ "node": "Fetch Pokemon JSON", "type": "main", "index": 0 }]]
    },
    "Fetch Pokemon JSON": {
      "main": [[{ "node": "Prepare Files", "type": "main", "index": 0 }]]
    },
    "Prepare Files": {
      "main": [[{ "node": "Upload to MinIO", "type": "main", "index": 0 }]]
    },
    "Upload to MinIO": {
      "main": [[{ "node": "Insert pokemon_files", "type": "main", "index": 0 }]]
    },
    "Insert pokemon_files": {
      "main": [[{ "node": "Log Ingestion", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}